// App
:root {
    --color-background: #2e2b28;
    --color-on-background: #e0e0e0;
    --color-surface: #1f1e1d;
    --color-on-surface: #e0e0e0;
    --color-primary: #ececec;
    --color-on-primary: #333333;
    --color-accent: #C85C17;
    --color-on-accent: #ffffff;
    --color-success: #57753a;
    --color-on-success: #fffbf4;
    --color-warning: #CA6A14;
    --color-on-warning: #ffffff;
    --color-destructive: #b33a3a;
    --color-on-destructive: #fffbf4;
    --color-dark: #2e2b28;
    --color-on-dark: #e0e0e0;
    --color-gray: #363534;
    --color-on-gray: #d5d4d4;
    --color-light: #ffffff;
    --color-on-light: #333333;
    --color-dim: rgba(0, 0, 0, 0.3);
    --color-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    --color-border: 1px solid rgba(255, 255, 255, 0.1);
    --color-border-hovered: 1px solid rgba(255, 255, 255, 0.2);

    --border-radius-normal: 3px;
    --border-radius-large: 5px;
    --border-radius-circle: 99999px;

    --font-family: "JetBrains Mono", sans-serif;

    --font-size-very-fucking-big: 50px;
    --font-size-h1: 32.44px;
    --font-size-h2: 28.83px;
    --font-size-h3: 25.63px;
    --font-size-h4: 22.78px;
    --font-size-h5: 20.25px;
    --font-size-h6: 18px;
    --font-size-p: 16px;
    --font-size-small: 14.22px;
    --font-size-xsmall: 12.64px;

    --font-weight-thin: 450;
    --font-weight-normal: 500;
    --font-weight-bold: 550;
    --font-weight-bolder: 600;
    --font-weight-black: 700;
}

// Shaders
:root {
    // Simple colors
    --color-red: #B75B5B;
    --color-orange: #C27B45;
    --color-yellow: #D9B565;
    --color-lime: #A6AD64;
    --color-green: #669266;
    --color-cyan: #5A9CA5;
    --color-blue: #6C89B1;
    --color-purple: #9A6FA2;
    --color-pink: #B56C89;
    --color-white: #e0e0e0;
    --color-black: #151515;
}
