@import "vars";

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: var(--font-family), serif;
    -webkit-font-smoothing: antialiased;
}

body {
    background: var(--color-background);
    color: var(--color-on-background);
}

#app {
    min-height: 100vh;

    position: relative;

    display: flex;
    flex-direction: column;
}

h1 {
    font-size: var(--font-size-h1);
    font-weight: var(--font-weight-bolder);
}
h2 {
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-bold);
}
h3 {
    font-size: var(--font-size-h3);
    font-weight: var(--font-weight-normal);
}
h4 {
    font-size: var(--font-size-h4);
    font-weight: var(--font-weight-normal);
}
h5 {
    font-size: var(--font-size-h5);
    font-weight: var(--font-weight-normal);
}
h6 {
    font-size: var(--font-size-h6);
    font-weight: var(--font-weight-normal);
}
p {
    font-size: var(--font-size-p);
    font-weight: var(--font-weight-normal);
}
small {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-thin);
}

hr {
    height: 0;
    border: 0 solid transparent;
    border-bottom: var(--color-border);
}
